*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.Tittle h2{
    color:black;
}

html,
body{
    width: 100%;
    font-size: 16px;
    background-color: #000;
    color: #fff
}

main{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 250%;
}

.Calculator{
    background-color: gray;
}

.Tittle{
    background-color: white;
    
}
.game-board {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
}

.box {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}

.eventListenerTest{
    background-color: #3f3e3e;
    padding:5%;
}

.BlueSquare{
    background-color: #120491;
    padding:5%; 
}

.BlackSquare{
    background-color: #000;
    padding:5%; 
}

.BlackSquare h2{
     border: 2px solid red;
    text-align: center;
}